<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<main id="contenu" tabindex="-1" class="mtb-canal">
<!-- wp:query-title {"type":"search","level":1,"showSearchTerm":true} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-title {"level":2,"isLink":true} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph -->
<p>Aucun résultat pour « … ».</p>
<!-- /wp:paragraph -->

<!-- wp:list {"className":"mtb-liens-de-secours"} -->
<ul class="wp-block-list mtb-liens-de-secours"><!-- wp:mtb/lien-de-recours {"cible":"accueil"} /-->

<!-- wp:mtb/lien-de-recours {"cible":"portees"} /-->

<!-- wp:mtb/lien-de-recours {"cible":"meute"} /--></ul>
<!-- /wp:list -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query -->
</main>

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
